body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #cfe7ff, #eaf2ff);
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #fff;
  width: 800px;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 5px;
  text-align: center;
}

p {
  color: #484444;
  margin-bottom: 25px;
  text-align: center;
}

input {
    width: 30%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #bcc3dc;
    margin-top: 5px;
    
}



/* table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
} */

/* .container {
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
 } */

/* table ditengah */

